.container{
  background-color: var(--color-white);
}

.container.big{
  max-width: 51.25rem;
  padding: 1rem;
  width: 51.25rem;
}

.container.small{
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 6rem 2rem;
}
