main{
  background-color: var(--color-blue1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

a{
  transition: .5s;
}

a:hover{
  background-color: var(--color-blue1-hover);
}

@media (max-width: 650px){
  main{
    padding: 0rem .75rem;
  }
  h1{
    text-align: center;
  }

  a{
    text-align: center;
  }
}
