<form (submit)="formSubmit($event)">
  <h2>Cadastre transação</h2>
  <label for="value">Valor</label>
  <input type="number" name="value" placeholder="R$" [formControl]="value">
  <label for="type">Tipo</label>
  <select name="type" id="type" [formControl]="type">
    <option value="entrada">Entrada</option>
    <option value="saida">Saída</option>
  </select>
  <label for="description">Tipo</label>
  <textarea name="description" id="description" [formControl]="description"></textarea>
  <button>Cadastro</button>
</form>
